---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}

<ul class="list-inline tag-box">
  {% assign categories_list = site.categories %}
  {% assign categories_list_list_item_css_class = 'list-inline-item' %}
  {% assign categories_list_link_css_class = 'btn btn-primary btn-sm' %}
  {% assign categories_list_badge_css_class = 'badge badge-light' %}
  {% include JB/categories_list %}
</ul>

{% for category in site.categories %} 
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}  
    {% include JB/pages_list %}
  </ul>
{% endfor %}

