---
layout: page
title: Tags
header: Posts By Tag
group: navigation
order: 3
---
{% include JB/setup %}

<div class="container">
    <div class="row">
      <div class="col">

      <ul class="list-inline tag-box">
        {% assign tags_list = site.tags %}
        {% assign tags_list_list_item_css_class = 'list-inline-item' %}
        {% assign tags_list_link_css_class = 'btn btn-secondary btn-sm' %}
        {% assign tags_list_badge_css_class = 'badge badge-light' %}
        {% include JB/tags_list %}
      </ul>

      {% for tag in site.tags %} 
        <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
        <ul>
          {% assign pages_list = tag[1] %}  
          {% include JB/pages_list %}
        </ul>
      {% endfor %}

    </div>
  </div>
</div>