<h2><span class="fas fa-thumbs-up"></span>I Recommend:</h2>
<dl>
	<dt><a href="https://github.com/dnnsoftware/Dnn.Platform/" target="_blank">DNN Platform</a></dt>
	<dd>- for keeping me busy and upset for so many years...</dd>
	<dt><a href="https://www.linuxmint.com/" target="_blank">Linux Mint</a></dt>
	<dd>- for freedom, elegance and <a href="https://www.linuxmint.com/download_lmde.php" target="_blank">LMDE</a>...</dd>
	<dt><a href="https://store.steampowered.com/" target="_blank">Steam</a></dt>
	<dd>- for their love for games and gamers...</dd>
	<dt><a href="https://godotengine.org/" target="_blank">Godot</a></dt>
	<dd>- for their love for games and game developers...</dd>
	<dt><a href="https://crawl.develz.org/" target="_blank">Dungeon Crawl: Stone Soup</a></dt>
	<dd>- for continuing to make an almost perfect Roguelike...</dd>
	<dt><a href="http://www.bay12games.com/dwarves/" target="_blank">Dwarf Fortress</a></dt>
	<dd>- for their epic fantasy and boundless craziness...</dd>
	<dt><a href="https://github.com/" target="_blank">GitHub</a></dt>
	<dd>- for patiently storing my buggy code and serving this humble website...</dd>
</dl>
