<div class="jumbotron jumbotron-welcome">
	<p class="lead"><img class="rounded" align="left" style="width:120px;height:120px;margin-right:1em" src="{{BASE_PATH}}/assets/images/r7-labs.png" alt="Roman M. Yagodin" />
		<strong>Welcome to my personal blog!</strong><br />
		I hope you will find it entertaining, and maybe even educational!
	</p>
	<div class="clearfix"></div>
	<hr />
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="btn btn-sm btn-block btn-secondary" href="https://www.facebook.com/profile.php?id=100006029444079" target="_blank">Facebook <i class="fas fa-chevron-right"></i></a>
			</div>	
			<div class="col">
				<a class="btn btn-sm btn-block btn-secondary" href="https://www.transifex.com/accounts/profile/roman.yagodin" target="_blank">Transifex <i class="fas fa-chevron-right"></i></a>
			</div>
			<div class="col">
				<a class="btn btn-sm btn-block btn-secondary" href="https://github.com/roman-yagodin" target="_blank">GitHub <i class="fas fa-chevron-right"></i></a>
			</div>
		</div>
	</div>
</div>
