<div class="jumbotron">
	<p><img class="img-circle pull-left" style="width:120px;height:120px;margin-right:1em" src="{{BASE_PATH}}/assets/images/yagodin_rm_square.jpg" alt="Roman M. Yagodin" />
		Welcome to my personal blog!<br />
		I hope you will find it entertaining, and maybe even educational!
	</p>
	<div class="clearfix"></div>
	<div class="container" style="margin-top:1em">
		<div class="col-md-4">
			<a class="btn btn-block btn-primary" href="https://www.facebook.com/profile.php?id=100006029444079" target="_blank">Facebook <i class="fas fa-chevron-right"></i></a>
		</div>	
		<div class="col-md-4">
			<a class="btn btn-block btn-primary" href="https://github.com/roman-yagodin" target="_blank">GitHub <i class="fas fa-chevron-right"></i></a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-block btn-primary" href="https://www.transifex.com/accounts/profile/roman.yagodin" target="_blank">Transifex <i class="fas fa-chevron-right"></i></a>
		</div>
	</div>
</div>
