<h2><span class="glyphicon glyphicon-cog"></span> R7 Projects Cloud</h2>
<h3>DNN Platform <small>ASP.NET Web CMF</small></h3>
<p><span class="badge">ASP.NET</span> <span class="badge">C#</span> <span class="badge">jQuery</span></p>
<ul>
	<li><a href="https://github.com/roman-yagodin/R7.Documents">R7.Documents</a> - documents module </li>
	<li><a href="https://github.com/roman-yagodin/R7.MiniGallery">R7.MiniGallery</a> - mini gallery module with lighbox support</li>
	<li><a href="https://github.com/roman-yagodin/R7.ImageHandler">R7.ImageHandler</a> - automatic thumbnailer</li>
	<li><a href="https://github.com/roman-yagodin/R7.Epsilon">R7.Epsilon</a> - responsive customizable skin <span class="badge">Bootstrap</span> <span class="badge">Less</span> <span class="badge">XSLT</span></li>
	<li><a href="https://github.com/roman-yagodin/R7.DnnLocalization">R7.DnnLocalization</a> - russian language pack</li>
</ul>	
<h3>Linux Desktop <small>Cinnamon, GNOME, LXDE</small></h3>
<p><span class="badge">Mono</span> <span class="badge">GTK#</span> <span class="badge">C#</span></p>
<ul>
	<li><a href="https://github.com/roman-yagodin/R7.Emblems">R7.Emblems</a> - easily set emblems in Nautilus or Nemo</li>
	<li><a href="https://github.com/roman-yagodin/R7.Webmaster">R7.Webmaster</a> - webmaster desktop productivity tools <span class="badge">Mono.Addins</span></li>
</ul>
<h3>Game-retated <small>PlaneShift, Voxelands</small></h3>
<ul>
	<li><a href="https://github.com/roman-yagodin/PlaneShift.EnchantedElves">PlaneShift.EnchantedElves</a> - custom UI skin <span class="badge">PAWS</span></li>
	<li><a href="https://github.com/roman-yagodin/PlaneShift.SkinTools">PlaneShift.SkinTools</a> - skin development tools <span class="badge">Bash</span> <span class="badge">XSLT</span></li>
	<li><a href="https://github.com/roman-yagodin/PlaneShift.BuildScripts">PlaneShift.BuildScripts</a> - client build scripts for Debian <span class="badge">Bash</span></li>
	<li><a href="https://www.transifex.com/projects/p/voxelands/language/ru">Voxelands (translation)</a> - russian localization of the game <span class="badge">gettext</span></li>
	<li><a href="https://www.transifex.com/projects/p/freedroid-rpg/language/ru">FreedroidRPG (translation)</a> - russian localization of the game <span class="badge">gettext</span></li>
</ul>