<h2><span class="glyphicon glyphicon-cog"></span> (R7) Projects Cloud</h2>
<h3>DNN Platform <small>ASP.NET Web CMF</small></h3>
<p><span class="badge badge-secondary">DNN</span> <span class="badge badge-secondary">ASP.NET</span> <span class="badge badge-secondary">C#</span> <span class="badge badge-secondary">JS</span></p>
<ul>
	<li><a href="https://github.com/roman-yagodin/R7.Epsilon">R7.Epsilon</a> - responsive customizable skin <span class="badge">SASS</span></li>
	<li><a href="https://github.com/roman-yagodin/R7.DnnLocalization">R7.DnnLocalization</a> - russian language pack</li>
	<li><a href="https://github.com/roman-yagodin/R7.Documents">R7.Documents</a> - documents module </li>
	<li><a href="https://github.com/roman-yagodin/R7.MiniGallery">R7.MiniGallery</a> - mini gallery module with lighbox support <span class="badge">React</span></li>
	<li><a href="https://github.com/roman-yagodin/R7.ImageHandler">R7.ImageHandler</a> - automatic thumbnailer</li>
</ul>