<h2><span class="glyphicon glyphicon-cog"></span>Cherry-picked (R7) Projects</h2>
<h3>DNN Platform</h3>
<p>
	<span class="badge badge-secondary">DNN</span>
	<span class="badge badge-secondary">ASP.NET</span>
	<span class="badge badge-secondary">C#</span>
	<span class="badge badge-secondary">CSS</span>
	<span class="badge badge-secondary">SCSS</span>
	<span class="badge badge-secondary">JS</span>	
	<span class="badge badge-secondary">React</span>
</p>
<ul>
	<li><a href="https://github.com/roman-yagodin/R7.University">R7.University</a> - high-school assets subsystem</li>
	<li><a href="https://github.com/roman-yagodin/R7.Epsilon">R7.Epsilon</a> - responsive customizable skin</li>
	<li><a href="https://github.com/roman-yagodin/R7.DnnLocalization">R7.DnnLocalization</a> - russian language packs</li>
	<li><a href="https://github.com/roman-yagodin/R7.Documents">R7.Documents</a> - documents module </li>
	<li><a href="https://github.com/roman-yagodin/R7.MiniGallery">R7.MiniGallery</a> - image gallery with lighbox support</li>
	<li><a href="https://github.com/roman-yagodin/R7.ImageHandler">R7.ImageHandler</a> - automatic thumbnailer</li>
</ul>