/* Custom styles and overrides */

#footer {
  margin-top:3em;
}

dl dd {
  margin-bottom: 10px
}

.date {
  margin-bottom: 1rem;
  font-weight: bold;
}

.navbar-brand {
  color: #f22430 !important
}

.jumbotron .btn.btn-block {
  margin-bottom: 2rem
}