/* Custom styles and overrides */

#footer {
  margin-top:3em;
}

dl dd {
  margin-bottom: 10px
}

.date {
  margin-bottom: 1rem;
  font-weight: bold;
}

.tag_box {
  margin-top: 1rem
}

.navbar-default .navbar-brand {
  color: #f22430
}